:root {
  --Mobile: 375px;
  --Desktop: 1440px;
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
  --Font-size-p: 15px;
  --Family: "Overpass";
  --WeightS: 400;
  --WeightL: 700;
}
body {
  margin: 0;
  font-family: var(--Family);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Very-Dark-Blue);
  color: var(--White);
}
p {
  font-size: var(--Font-size-p);
}
.rating-state {
  padding: 1em;
}
.img-container {
  display: flex;
  padding: 1em;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--Very-Dark-Blue);
}
.container {
  background-color: var(--Dark-Blue);
  border-radius: 10px;
  padding: 1em;
}
.rating-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}
.rating {
  display: flex;
  flex-direction: column;
}
.rate {
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  padding: 1em;
  background-color: var(--Very-Dark-Blue);
  margin: 0 10px 0 10px;
  color: var(--Light-Grey);
  cursor: pointer;
  border-radius: 50%;
}
.rate:hover {
  background-color: var(--Orange);
  color: white;
}
.submit-btn {
  padding: 1em;
  color: var(--White);
  background-color: var(--Orange);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.selected {
  background-color: var(--Light-Grey);
  color: var(--White);
}
.submit-btn:hover {
  color: var(--Orange);
  background-color: var(--White);
}
.thank-you {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.select-banner {
  color: var(--Orange);
  background-color: var(--Very-Dark-Blue);
  padding: 1em;
  border-radius: 50px;
}
.img-container2 {
  width: auto;
  background-size: contain;
}
.confirm-para {
  text-align: center;
  color: var(--Light-Grey);
  padding: 1em;
}

.thank-para {
  font-size: 2em;
  margin-bottom: 0;
}

.rating-para {
  color: var(--Light-Grey);
}

@media screen and (max-width: 500px) {
  .container{
    width: 80%;
    /* padding: 0; */
  }
}
